API_ID=25392624
API_HASH=c9208c6e73e4d48a7a03c3ee296995be
BOT_TOKEN=7650241842:AAGI5sJ-ho-8KeOl1AFHz_JGPSz-O0yFBYk
LOGGER_ID=-1002545523458
MONGO_DB_URI=mongodb+srv://RoyalXishu:RoyalXishu12@royalbestuishu.cvk0an1.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1384525218
STRING_SESSION=BQGDdfAAe7q4xDUcYju9W4CxfLL7QmgS--CpMNAfwHk-Y-CmJfXt0oCGpAyHJFyUhiaASevjWz1s0iNBWPvCjfHWroGSfW3H-Vfl96tGokEsNdSpwei8bq10eM0r82MpCO52YvRKml8SzMvVYe67gr0yMtrMBrGK66624fCSEIE0UcxwYyfLh-mh9GbfFpC9eevBs1wssevjr13ccy8Q8PHGzYTCEQjXAPrLhtMNDIpdt_-fEnb86DTlL2bH4vFm6elIc4W9hMnY4ikIgkzu-Gw8BYu8wHjEH8rvBGoOepHv9yIeXswVCnxzZYNeldqI9TAA_wKI_7H89f8Cg4HNMlk9NJ2f3QAAAAGHXRXVAA
YT_API_KEY=xbit_9icJstXD8d3K4tFEqB0kKA64SatVSDBD
